<launch>
  <!-- Launch file for color region detection and ground cloud extraction -->

  <arg name="input_topic" default="/camera/color/image_raw"/>
  <arg name="point_cloud_topic" default="/camera/depth_registered/points"/>
  <arg name="camera_info_topic" default="/camera/color/camera_info"/>
  <arg name="plane_coefficients_topic"
       default="/ground_plane_calibrator/ground_plane/coefficients"/>
  <arg name="output_ns" default="gemini_geometry_detector"/>
  <arg name="config_file"
       default="$(find gemini_geometry_detector)/config/detector.yaml"/>

  <group ns="$(arg output_ns)">
    <node name="color_region_detector" pkg="gemini_geometry_detector" type="color_region_detector_node" output="screen">
      <param name="input_topic" value="$(arg input_topic)"/>
      <param name="point_cloud_topic" value="$(arg point_cloud_topic)"/>
      <param name="camera_info_topic" value="$(arg camera_info_topic)"/>
      <param name="plane_coefficients_topic" value="$(arg plane_coefficients_topic)"/>
      <rosparam file="$(arg config_file)" command="load"/>
    </node>
  </group>
</launch>
