<launch>
  <!-- Launch file for color region detection and guide-line error estimation -->

  <arg name="input_topic" default="/camera/color/image_raw"/>
  <arg name="camera_info_topic" default="/camera/color/camera_info"/>
  <arg name="output_ns" default="gemini_geometry_detector"/>
  <arg name="config_file"
       default="$(find gemini_geometry_detector)/config/detector.yaml"/>

  <!-- Ground-plane provider override (topic/imu). Empty means use config file value. -->
  <arg name="ground_plane_provider_type" default=""/>
  <arg name="camera_height" default=""/>

  <!-- Contour merging overrides. Empty means use config file value. -->
  <arg name="enable_contour_merging" default=""/>
  <arg name="merge_max_angle_diff_deg" default=""/>
  <arg name="merge_max_region_gap_n" default=""/>

  <group ns="$(arg output_ns)">
    <node name="color_region_detector" pkg="gemini_geometry_detector" type="color_region_detector_node" output="screen">
      <param name="input_topic" value="$(arg input_topic)"/>
      <param name="camera_info_topic" value="$(arg camera_info_topic)"/>
      <rosparam file="$(arg config_file)" command="load"/>
      <param if="$(eval arg('ground_plane_provider_type') != '')"
             name="ground_plane_provider_type" value="$(arg ground_plane_provider_type)"/>
      <param if="$(eval arg('camera_height') != '')"
             name="camera_height" value="$(arg camera_height)"/>
      <param if="$(eval arg('enable_contour_merging') != '')"
             name="enable_contour_merging" value="$(arg enable_contour_merging)"/>
      <param if="$(eval arg('merge_max_angle_diff_deg') != '')"
             name="merge_max_angle_diff_deg" value="$(arg merge_max_angle_diff_deg)"/>
      <param if="$(eval arg('merge_max_region_gap_n') != '')"
             name="merge_max_region_gap_n" value="$(arg merge_max_region_gap_n)"/>
    </node>
  </group>
</launch>
